<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JB's Knockoff Boggle Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <span id="html_holder">
        <span id="settings">
            <div class="centered-container">
                <startButton id="start_button" onclick="create_table(6,6)">Boggle!</startButton>
            </div>
            <div class="centered-container">
                <label for="timer_length">Game length: </label>
                <select id="timer_length">
                    <option value="240">4 minutes</option>
                    <option value="0">Instant</option>
                    <option value="5">5 seconds</option>
                </select>
                &emsp; &emsp;
                <label for="font_size">Board font size: </label>
                <select id="font_size">
                    <option value="48">48</option>
                    <option value="72">72</option>
                    <option value="24">24</option>
                </select>
                &emsp; &emsp;
                <label for="font_selection">Board font: </label>
                <select id="font_selection">
                    <option value='Arial, Helvetica, sans-serif'>Arial</option>
                    <option value='"Times New Roman", Times, serif'>Times New Roman</option>
                    <option value='"Courier New", "Lucida Console", monospace'>Courier New</option>
                    <option value='"Comic Sans", cursive, sans-serif'>Comic Sans</option>
                    <option value='Consolas, Helvetica, sans-serif'>Consolas</option>
                </select>
                &emsp; &emsp;
                <label for="game_type">Game type: </label>
                <select id="game_type">
                    <option value='Super'>Super (6x6)</option>
                    <option value='Debug'>Debug</option>
                </select>
            </div>
        </span>
        <p id="timer_display" style="text-align: center; font-size: 48px; display: none;"></p>
        <p id="word_search" style="text-align: center; display: none;">
            <label id="search_label" for="word_search_box" style="font-size: 30px">Word search: </label>
            <input type="text" id="word_search_box" name="word_search_box" > <!-- oninput="new_word_search()"-->
            <searchButton id="define_word" onClick='new_word_search()'>Find definition</searchButton>
        </p>
        <p id="search_results" style="text-align: center; font-size: 38px;  display: none;"></p>
    	<div id="boggle_container" class="centered-container">
    		<table id="boggle_board"></table>

    		<select id="found_words" size="44" style="display: none;" onclick="word_selected()">
                <option value='[clear]'>[clear]</option>
            </select>
            <div class="scrollable-container">
                <pre id="alt_word_definition" class="definition-text" style="display: none;"></pre>
                <p id="word_definition"></p>
            </div>
    	</div>
    	<p id="debug" style="text-align: center; font-size: 38px; display: none;"></p>
	</span>

	<script>
	    async function new_word_search() {
	        let word = document.getElementById("word_search_box").value
	        if (word == "[clear]") {
	            map_words(word)
                document.getElementById("word_definition").innerHTML = ''
	            return
	        }
	        word = word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
            const response = await fetch("/dict_search", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    board: board,
                    word: word
                })
            });
            let result = await response.json();


            if (result.status) {
                map = result
                delete map.status
                word = word.charAt(0).toUpperCase() + word.slice(1);
                found_words[word] = map[word]
                document.getElementById("search_results").innerText = ""
                map_words(word)
            } else {
                map_words(result)
            }
            define_word(word)
	    }

        async function define_word(word) {
            // Reach back to python to define the word
            document.getElementById("word_definition").innerHTML = ''
            const response = await fetch("/define_word", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({word})
            });
            const result = await response.json();
            if (result.status == true) {
                document.getElementById("word_definition").innerHTML = result.html_definition
            } else {
                document.getElementById("word_definition").innerHTML = result.html_definition
            }

        }

        async function dict_search() {
            // Reach back to python to process the board for words
            const response = await fetch("/dict_search", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({board})
            });
            found_words = await response.json();

            const found_words_select = document.getElementById("found_words")
            let count = 0
            let longestWord = ""
            Object.keys(found_words).sort().forEach(word => {
                let new_option = document.createElement("option")
                new_option.value = word
                new_option.text = word
                found_words_select.appendChild(new_option)
                if (longestWord.length < word.length) {
                    longestWord = word
                }
                count++
            })
            document.getElementById("search_results").innerHTML = `ScriptBob found ${count} words. <br>The longest word it found was ${longestWord}.`
            document.getElementById("debug").innerHTML = `ScriptBob found ${count} words. <br>The longest word it found was ${longestWord}.`
        }

        let found_words = {}
        board = [
            ["O", "N", "C", "B", "T", "S"],
            ["V", "I", "Y", "O", "U", "R"],
            ["A", "M", "A", "R", "K", "I"],
            ["G", "E", "T", "I", "N", "G"],
            ["Y", "Th", "-", "S", "E", "T"],
            ["B", "O", "G", "G", "L", "E"]
        ]
        let dice_list = [
            ["A","A","A","F","R","S"], ["A","A","E","E","E","E"], ["A","A","E","E","O","O"], ["A","A","F","I","R","S"], ["A","B","D","E","I","O"], ["A","D","E","N","N","N"],
            ["A","E","E","E","E","M"], ["A","E","E","G","M","U"], ["A","E","G","M","N","N"], ["A","E","I","L","M","N"], ["A","E","I","N","O","U"], ["A","F","I","R","S","Y"],
            ["An","Er","He","In","Qu","Th"], ["B","B","J","K","X","Z"], ["C","C","E","N","S","T"], ["C","D","D","L","N","N"], ["C","E","I","I","T","T"], ["C","E","I","P","S","T"],
            ["C","F","G","N","U","Y"], ["D","D","H","N","O","T"], ["D","H","H","L","O","R"], ["D","H","H","N","O","W"], ["D","H","L","N","O","R"], ["E","H","I","L","R","S"],
            ["E","I","I","L","S","T"], ["E","I","L","P","S","T"], ["E","I","O","-","-","-"], ["E","M","T","T","T","O"], ["E","N","S","S","S","U"], ["G","O","R","R","V","W"],
            ["H","I","R","S","T","V"], ["H","O","P","R","S","T"], ["I","P","R","S","Y","Y"], ["J","K","Qu","W","X","Z"], ["N","O","O","T","U","W"], ["O","O","O","T","T","U"]
        ]

        // Complete
        function dice_generator () {
            const randomIndex = Math.floor(Math.random() * dice_list.length)
            const letter = dice_list[randomIndex][Math.floor(Math.random() * 6)]
            dice_list.splice(randomIndex, 1)
            return letter
        }

        // Complete
        function start_countdown (duration) {
            display = document.getElementById('timer_display')
            display.style.display = ""
            let time = duration;
            timer = setInterval(function () {
                let minutes = Math.floor(time / 60);
                let seconds = time % 60;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;
                display.textContent = minutes + ':' + seconds;
                if (--time < 0) {
                    clearInterval(timer);
                    for (let y = 0; y < 6; y++) {
                        for (let x = 0; x < 6; x++) {
                            document.getElementById(`${y}${x}`).style.color = "White"
                            document.getElementById(`${y}${x}`).style.backgroundColor = "Black"
                            document.getElementById(`${y}${x}`).style.border = "2px solid white"
                        }
                    }
                    display.style.display = "none"
                    document.getElementById("search_results").style.display = ''
                    document.getElementById('boggle_container').className = 'left-container'
                    document.getElementById('found_words').style.display = ''
                    document.getElementById('word_search').style.display = ''
                }
            }, 1000);
        }

        // Complete
        function word_selected () {
            let word = document.getElementById('found_words').value
	        if (word == "[clear]") {
	            map_words(word)
                document.getElementById("word_definition").innerHTML = ''
	            return
	        }
	        document.getElementById("word_search_box").value = word
           
            display_definition(word)
        }

        // Needs to be recreated from scratch based off the results from define_word()
        function display_definition (word, error=false) {
            define_word(word)
            map_words(word, error)
        }

        // Needs to be updated
        // Change from dict to array
        function map_words (word, error=false) {
            for (x= 0; x<6; x++) {
                for (y=0; y<6; y++) {
                    let cell = document.getElementById(`${y}${x}`)
                    cell.style.color = "White"
                    cell.className = "table-cell"
                }
            }
            document.getElementById('search_results').textContent='';
            document.getElementById("debug").style.display = '';
            if (word == "[clear]") {
                document.getElementById('word_definition').textContent='';
                return
            }
            if (typeof word != "string") {
                document.getElementById('search_results').textContent = word.msg
                return
            }

            let count = 0
            for (let i = 0; i<Object.keys(found_words[word]).length; i++) {
                let coord = `${found_words[word][i]["y"]}${found_words[word][i]["x"]}`
                let cell = document.getElementById(coord)
                let newClass = "table-cell"
                if (i>0) {
                    //assign before class
                    let lx = parseInt(found_words[word][i-1]["x"])
                    let ly = parseInt(found_words[word][i-1]["y"])
                    let x = parseInt(found_words[word][i]["x"])
                    let y = parseInt(found_words[word][i]["y"])
                    switch (true) {
                        case (lx==x && ly>y) :
                            newClass+=" before-S"
                            break
                        case (lx==x && ly<y) :
                            newClass+=" before-N"
                            break
                        case (lx>x && ly>y) :
                            newClass+=" before-SE"
                            break
                        case (lx>x && ly==y) :
                            newClass+=" before-E"
                            break
                        case (lx>x && ly<y) :
                            newClass+=" before-NE"
                            break
                        case (lx<x && ly<y) :
                            newClass+=" before-NW"
                            break
                        case (lx<x && ly==y) :
                            newClass+=" before-W"
                            break
                        case (lx<x && ly>y) :
                            newClass+=" before-SW"
                            break
                    }
                }
                if (i<found_words[word].length-1) {
                    //assign after class
                    let nx = parseInt(found_words[word][i+1]["x"])
                    let ny = parseInt(found_words[word][i+1]["y"])
                    let x = parseInt(found_words[word][i]["x"])
                    let y = parseInt(found_words[word][i]["y"])
                    switch (true) {
                        case (nx==x && ny>y) :
                            newClass+=" after-S"
                            break
                        case (nx>x && ny>y) :
                            newClass+=" after-SE"
                            break
                        case (nx>x && ny==y) :
                            newClass+=" after-E"
                            break
                        case (nx>x && ny<y) :
                            newClass+=" after-NE"
                            break
                        case (nx==x && ny<y) :
                            newClass+=" after-N"
                            break
                        case (nx<x && ny<y) :
                            newClass+=" after-NW"
                            break
                        case (nx<x && ny==y) :
                            newClass+=" after-W"
                            break
                        case (nx<x && ny>y) :
                            newClass+=" after-SW"
                            break
                    }
                }
                cell.style.color = "Red"
                cell.className = newClass
            }/**/
        }

        // Needs to be updated
        // Deal with results from findWords()
	    function create_table(rows, cols) {
            document.getElementById(`settings`).style.display = "None"
            const table = document.getElementById('boggle_board');
            display = document.getElementById('timer_display')
            const time = parseInt(document.getElementById('timer_length').value, 10)
            let minutes = Math.floor(time / 60);
            let seconds = time % 60;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            display.textContent = minutes + ':' + seconds;

            start_countdown(time)

            for (let y = 0; y < rows; y++) {
                const row = table.insertRow();
                for (let x = 0; x < cols; x++) {
                    const cell = row.insertCell();
                    if (document.getElementById('game_type').value == "Super") {
                        board[y][x] = dice_generator()
                    }
                    cell.innerHTML = `<span>${board[y][x]}</span>`
                    cell.id = `${y}${x}`
                    cell.className = "table-cell"
                    cell.style.fontFamily = `${document.getElementById('font_selection').value}`
                    cell.style.fontSize = `${parseInt(document.getElementById('font_size').value, 10)}px`
                    cell.style.padding = `${parseInt(document.getElementById('font_size').value, 10)/2}px`
                }
            }
           dict_search()
        }

        // Allow people to search by just clicking enter
        document.getElementById("word_search_box").addEventListener("keyup", event => {
            if(event.key !== "Enter") return;
            document.getElementById("define_word").click();
            event.preventDefault();
        });
	</script>
</body>
</html>
